file_version(){
    for file in $(find . -regex ".*${1}.*\.[ch]") ; do
        get_infos $file
    done
    printf '\n'
}

vgrep(){
    if [ ! -z "$2" ] ; then
        grep_flags="-C $2"
    fi
    grep_flags="--colour -n ""$grep_flags"
    find . -regex '.*\.[ch]' -exec grep $grep_flags  "${1}" {} \; -exec get_infos {} \;
    grep_flags=""
}

function e(){
    emacsclient -c -a "" -n $@    # emacs gets used a lot
}

function et(){
    emacsclient -t -a "" $@       # emacs in the terminal
}

function s(){
	svn log -r {$(date --date="$*" +%FT%T)}:HEAD -v -g
}

function sup(){
	# finds top svn folder for project, 
	# navigates to it and calls svn up then returns you to your origin folder.
	Original_dir=$(pwd)
	echo $Original_dir

	#check if above folder is still in the svn tree
	while [[ $(ls ../.svn &>/dev/null ;echo $?) == "0" ]] ; do cd ..; done
	svn up
	cd  $Original_dir
	unset Original_dir
}
