[credential]
	helper = osxkeychain

[user]
	name = John Regner
	email = regnerjr@gmail.com
	signingkey = 001FF0A20851972A

[github]
	user = regnerjr

[alias]
	c = commit -v
	a = add -p
	rhh = reset --hard HEAD
	bn = branch --show-current
	l = log --oneline --branches --decorate --graph
	b = branch
	s = status --short --branch
	st = status --show-stash
	co = checkout
	d = diff --patch --word-diff=color --minimal --stat
	ds = diff --staged --word-diff=color
	ff = fetch origin development
	cleanall = "!f() { git reset --hard HEAD && git clean -fd }; f"
	jk = commit --amend --no-edit
	update = "pull --rebase --autostash origin development"

[help]
	autocorrect = 50

[rerere]
	enabled = 1

[branch]
	autosetuprebase = always

[color]
	ui = true
	wtf = true

[color "diff"]
	meta = 227
	frag = magenta bold
	func = blue
	old = red bold
	new = green bold
	commit = 227 bold
	whitespace = red reverse
	context = normal

[color "diff-hilight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "branch"]
	current = cyan
	local = blue
	remote = magenta
	upstream = magenta
	plain = normal

[color "status"]
	header = black bold
	branch = cyan
	nobranch = red
	unmerged = red
	untracked = cyan
	added = green
	changed = red bold

[diff]
	tool = vimdiff
	mnemonicprefix = true
	indentHeuristic = true
	colorMoved = zebra
	noprefix = true

[diff "localizablestrings"]
	textconv = "iconv -f utf-16 -t utf-8"
	binary = false

[core]
	editor = vim
	whitespace = warn
	excludesfile = ~/.gitignore

[fetch]
	prune = true

[push]
	default = current
	ff = only

[pull]
	ff = only
	rebase = true

[merge]
	tool = opendiff

[mergetool "opendiff"]
	cmd = opendiff $LOCAL $REMOTE -ancestor $BASE -merge $MERGED

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[commit]
	gpgsign = true
	verbose = true
	template = ~/.gitmessage

[stash]
	showPatch = true

[gpg]
	program = gpg

[remote "origin"]
	prune = true
	pruneTags = true

[rebase]
	autosquash = true
[difftool]
	prompt = false
