[credential]
	helper = osxkeychain

[user]
	name = John Regner
	email = regnerjr@gmail.com
	signingkey = C874C2B8

[github]
	user = regnejr

[alias]
	l = log --oneline --branches --decorate --graph
	b = branch
	s = status --short --branch
	co = checkout
	d = diff --patch --word-diff=color --minimal --stat
	ds = diff --staged --word-diff=color
	dt = difftool --no-prompt
	fa = fetch --all --prune
	rhh = reset --hard HEAD
	c = commit -v
	a = add -p
	bn = "!f() { git branch | grep '*' | awk '{print $2}' | pbcopy;  }; f"
	jk = commit --amend --no-edit
	patch = !git --no-pager diff --no-color

[help]
	autocorrect = 50

[rerere]
	enabled = 1

[color]
	ui = true
	wtf = true

[color "diff"]
	meta = 227
	frag = magenta bold
	func = blue
	old = red bold
	new = green bold
	commit = 227 bold
	whitespace = red reverse
	context = normal

[color "diff-hilight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "branch"]
	current = cyan
	local = blue
	remote = magenta
	upstream = magenta
	plain = normal

[color "status"]
	header = black bold
	branch = cyan
	nobranch = red
	unmerged = red
	untracked = cyan
	added = green
	changed = red bold

[push]
	default = current

[diff]
	tool = vimdiff
	mnemonicprefix = true
	indentHeuristic = true

[core]
	editor = vim
	whitespace = warn
	excludesfile = ~/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX

[fetch]
	prune = true

[push]
	default = current
	ff = only

[merge]
	tool = opendiff

[mergetool "opendiff"]
	cmd = opendiff $LOCAL $REMOTE -ancestor $BASE -merge $MERGED

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true


[commit]
	gpgsign = true
	verbose = true

[submodule]
	fetchJobs = 4

[stash]
	showPatch = true
[gpg]
	program = gpg
